<div class="legend-container">
    <div class="legend-group">
        <h3>Máscara</h3>
        <div>
            <img src="../../../assets/images/required-mask.png" alt="">
            <p>Obrigatório</p>
        </div>
        <div>
            <img src="../../../assets/images/recommended-mask.png" alt="">
            <p>Recomendado</p>
        </div>   
    </div>

    <div class="legend-group">
        <h3>Toalha</h3>
        <div>
            <img src="../../../assets/images/required-towel.png" alt="">
            <p>Obrigatório</p>
        </div>
        <div>
            <img src="../../../assets/images/recommended-towel.png" alt="">
            <p>Recomendado</p>
        </div>
    </div>

    <div class="legend-group">
        <h3>Bebedouro</h3>
        <div>
            <img src="../../../assets/images/partial-fountain.png" alt="">
            <p>Parcial</p>
        </div>
        <div>
            <img src="../../../assets/images/not_allowed-fountain.png" alt="">
            <p>Proibido</p>
        </div>
    </div>

    <div class="legend-group">
        <h3>Vestiários</h3>
        <div>
            <img src="../../../assets/images/allowed-lockerroom.png" alt="" class="vest">
            <p>Liberado</p>
        </div>
        <div>
            <img src="../../../assets/images/partial-lockerroom.png" alt="" class="vest">
            <p>Parcial</p>
        </div>
        <div>
            <img src="../../../assets/images/closed-lockerroom.png" alt="" class="vest">
            <p>Fechado</p>
        </div>
    </div>
</div>