<form action="" class="form-group">
    <div class="form-icon"><img src="../../../assets/images/icon-hour.png" alt="">Horário</div>
    <div class="filter">
        <h3>Qual período quer treinar?</h3>
        <div class="option">
            <input type="radio" name="time" value="morning">
            <label for="morning">Manhã</label>
            <span>06:00 às 12:00</span>
        </div>
        <div class="option">
            <input type="radio" name="time" value="afternoon">
            <label for="afternoon">Tarde</label>
            <span>12:01 às 18:00</span>
        </div>
        <div class="option">
            <input type="radio" name="time" value="night">
            <label for="night">Noite</label>
            <span>18:01 às 23:00</span>
        </div>
        <div class="check">
            <input type="checkbox" name="show-closed" >
            <label for="show-closed">Exibir unidades fechadas</label>
            <p>Resultados encontrados: <span>0</span></p>
        </div>
        <div class="buttons">
            <button class="find">ENCONTRAR UNIDADE</button>
            <button class="clear">LIMPAR</button>
        </div>
    </div>
</form>
